@charset "UTF-8";
@font-face {
  font-family: "CoFo Sans";
  src: url("../fonts/CoFoSans-Bold.eot");
  src: url("../fonts/CoFoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CoFoSans-Bold.woff2") format("woff2"), url("../fonts/CoFoSans-Bold.woff") format("woff"), url("../fonts/CoFoSans-Bold.svg#CoFoSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoFo Sans";
  src: url("../fonts/CoFoSans-Regular.eot");
  src: url("../fonts/CoFoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CoFoSans-Regular.woff2") format("woff2"), url("../fonts/CoFoSans-Regular.woff") format("woff"), url("../fonts/CoFoSans-Regular.svg#CoFoSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoFo Sans";
  src: url("../fonts/CoFoSans-Medium.eot");
  src: url("../fonts/CoFoSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CoFoSans-Medium.woff2") format("woff2"), url("../fonts/CoFoSans-Medium.woff") format("woff"), url("../fonts/CoFoSans-Medium.svg#CoFoSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited, a:link {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "CoFo Sans";
  color: #929FB7;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  background-color: #0D1C31;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

/* Blurs backgrounds */
.light {
  position: absolute;
  z-index: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  max-width: 1400px;
  mix-blend-mode: color-dodge;
  -webkit-filter: blur(55px);
          filter: blur(55px);
}
.light__light img {
  width: 100%;
  height: 100%;
}

/* ===== buttons ===== */
.button-gold {
  width: 100%;
  height: 100%;
  background: radial-gradient(100% 8995.65% at 100% 25.71%, rgba(224, 137, 43, 0.5) 0%, rgba(226, 74, 26, 0.5) 100%), #E0892B;
  -webkit-box-shadow: 0px 15px 45px rgba(224, 137, 43, 0.5);
          box-shadow: 0px 15px 45px rgba(224, 137, 43, 0.5);
  border-radius: 20px;
  color: #ffffff;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.3;
}
.button-gold:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: radial-gradient(100% 8995.65% at 100% 25.71%, rgba(224, 137, 43, 0.5) 0%, rgba(226, 74, 26, 0.5) 100%), #8D4A02;
}

.button-blue {
  width: 100%;
  height: 100%;
  background: #20A0E1;
  -webkit-box-shadow: 0px 15px 45px rgba(32, 160, 225, 0.5);
          box-shadow: 0px 15px 45px rgba(32, 160, 225, 0.5);
  border-radius: 20px;
  color: #ffffff;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.3;
}
.button-blue:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #0673AA;
}

/* ===== formula block ===== */
.formula {
  padding: 52px 0 110px 0;
  position: relative;
}
.formula__header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.formula__main {
  margin: 84px 0 0 0;
  color: #ffffff;
  line-height: 0.9;
  font-size: 110px;
  font-weight: 700;
}
.formula__main-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.formula__main-titletext {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.1;
  padding: 0 0 0 50px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}
.formula__main-titlesecond {
  padding: 0 0 0 88px;
  color: #E0892B;
  position: relative;
}
.formula__main-titlesecond:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  border: 3px solid #E0892B;
  border-radius: 50%;
  top: 50%;
  margin: 0 0 0 135px;
}
.formula__main-titlethird {
  padding: 0 0 0 240px;
  position: relative;
}
.formula__main-titlethird:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 77.4px;
  height: 77.4px;
  background: url("../img/formula/lemon.png") 0 0/100% no-repeat;
  top: -4.5px;
  margin: 0 0 0 -134px;
}
.formula__main-text {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  width: 446px;
  height: 45px;
  margin: 69px auto 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  position: relative;
}
.formula__main-text:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 27px;
  height: 27px;
  border: 4px solid #E0892B;
  border-radius: 50%;
  top: -25px;
  margin: 0 0 0 -240px;
}
.formula__main-date {
  font-size: 18px;
  line-height: 1.1;
  color: #929FB7;
  font-weight: 400;
  margin: 19px 0 0 0;
  text-align: center;
  display: none;
}
.formula__reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 55px 0 0 0;
}
.formula__reasons-column {
  font-size: 25px;
  line-height: 1.15;
  padding: 0 10px 0 34px;
  background: url("../img/formula/icon.svg") top left no-repeat;
}
.formula__reasons-column span {
  color: #ffffff;
}
.formula__spiral {
  position: absolute;
  width: 420px;
  height: 655px;
  right: 0;
  bottom: -85px;
  z-index: 1;
}
.formula__light {
  height: 1129px;
  top: 0;
}

.masterkit {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
          flex: 0 1 250px;
}
.masterkit__lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.masterkit__lable-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 58px;
          flex: 0 1 58px;
  margin: 0 10px 0 0;
}
.masterkit__lable-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.masterkit__lable-name {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 134px;
          flex: 0 1 134px;
}
.masterkit__lable-name img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.masterkit__text {
  max-width: 237px;
  max-height: 25px;
  border: 1px solid #EA9942;
  border-radius: 6.04px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  padding: 6px 11px;
  margin: 17px 0 0 0;
}

.date {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 185px;
          flex: 0 1 185px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 18px;
  line-height: 1.1;
  padding: 0 0 2.5px 0;
}

.auto {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.shstrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50px;
          flex: 0 1 50px;
}

.people {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 471px;
          flex: 0 1 471px;
  font-size: 20px;
}

.people span:first-child {
  color: #ffffff;
}

/* ===== invitation block ===== */
.invitation {
  padding: 24px 0 80px 0;
  position: relative;
}
.invitation__title {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  padding: 0 0 64px 0;
}
.invitation__title span {
  color: #E0892B;
}
.invitation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.invitation__column-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}
.invitation__pointer {
  position: absolute;
  z-index: 2;
  width: 76px;
  height: 110px;
  top: -50px;
  left: 75px;
}
.invitation__pointer.pointer2 {
  top: -90px;
  left: 95px;
}
.invitation__book {
  position: absolute;
  z-index: 1;
  width: 1054px;
  height: 853px;
  top: 0;
  left: -120px;
}
.invitation__column-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 660px;
          flex: 0 1 660px;
  position: relative;
  z-index: 4;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
  padding: 18px;
}
.invitation__form {
  background: rgba(255, 255, 255, 0.93);
  -webkit-backdrop-filter: blur(70px);
          backdrop-filter: blur(70px);
  border-radius: 40px;
  padding: 45px 28px 62px;
  text-align: center;
}
.invitation__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.invitation__spiral {
  position: absolute;
  width: 665px;
  height: 980px;
  right: 0;
  bottom: -620px;
  z-index: 1;
}
.invitation__light {
  height: 1272px;
  top: 0;
  mix-blend-mode: color-dodge;
  -webkit-filter: blur(55px);
          filter: blur(55px);
}

/* Form invitation */
.form {
  position: relative;
}
.form form:before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: rgba(51, 51, 51, 0.9) url("../img/invitation/load.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
}
.form form.sending:before {
  opacity: 1;
  visibility: visible;
}
.form__title {
  font-size: 45px;
  line-height: 1;
  font-weight: 700;
}
.form__title span {
  color: #10294A;
}
.form__subtitle {
  margin: 20px auto 0;
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__subtitle-icon {
  width: 46px;
  height: 46px;
}
.form__subtitle-text {
  color: #10294A;
  font-size: 20px;
  line-height: 1.3;
  text-align: left;
  padding: 0 0 0 13px;
}
.form__text {
  margin: 28px 0 3px 0;
  color: #10294A;
  font-size: 25px;
  line-height: 1.3;
}
.form__error {
  color: #E24A1A;
  font-size: 20px;
  margin: 10px 0 0;
}
.form input {
  margin: 20px 0 0 0;
  padding: 16px 24px 16px;
  font-size: 20px;
  line-height: 1.3;
  text-align: left;
  color: #10294A;
  width: 380px;
  height: 60px;
  border: 2px solid #CEDBF4;
  border-radius: 10px;
}
.form input:focus {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid #E0892B;
}
.form__btn {
  margin: 25px 0 0 0;
  width: 380px;
  height: 70px;
}
.form__personal-box {
  display: none;
}
.form__personal-inf {
  position: relative;
  font-size: 17px;
  line-height: 1.3;
  margin: 22px 0 0 0;
}
.form__personal-inf span {
  padding: 0 0 7px 38px;
  border-width: 0 0 2px 0;
  border-style: dashed;
  border-color: rgba(255, 255, 255, 0);
}
.form__personal-inf:before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  border: 2px solid #CEDBF4;
  border-radius: 6px;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.form__personal-text:before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background: url("../img/invitation/check-icon.svg") center no-repeat;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

.form__personal-box:checked + .form__personal-text:before {
  opacity: 1;
}

input.form:placeholder {
  color: #929FB7;
}

input::-webkit-input-placeholder {
  color: #929FB7;
}

input::-moz-placeholder {
  color: #929FB7;
}

input:-moz-placeholder {
  color: #929FB7;
}

input:-ms-input-placeholder {
  color: #929FB7;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #10294A !important;
  -webkit-box-shadow: 0 0 0 60px white inset !important;
}

/* ===== Sutable block ===== */
.sutable {
  padding: 80px 0 60px 0;
  position: relative;
}
.sutable__title {
  max-width: 702px;
  font-size: 70px;
  line-height: 1;
  font-weight: 700;
  color: #CEDBF4;
}
.sutable__title span {
  color: #ffffff;
}
.sutable__row {
  margin: 70px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.sutable__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 0 50px 0;
}
.sutable__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sutable__item-icon {
  width: 175px;
  height: 175px;
}
.sutable__item-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sutable__item-text {
  max-width: 560px;
  font-size: 25px;
  line-height: 1.15;
  text-align: center;
  color: #BFCAE1;
}
.sutable__item-text span {
  color: #ffffff;
}
.sutable__light {
  top: 20px;
  height: 1272;
}

/* ===== Plan block ===== */
.plan {
  padding: 110px 0 60px 0;
  position: relative;
  color: #CEDBF4;
}
.plan__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.plan__title {
  text-align: right;
  font-size: 70px;
  line-height: 1;
  font-weight: 700;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 848px;
          flex: 0 1 848px;
}
.plan span {
  color: #ffffff;
}
.plan__subtitle {
  text-align: right;
  font-size: 30px;
  line-height: 1.2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 572px;
          flex: 0 1 572px;
  margin: 33px 0 0 0;
}
.plan__text {
  width: 603px;
  height: 96px;
  position: relative;
  margin: 44px 0 0 0;
}
.plan__wrapper1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 712.93px;
  height: 189.36px;
  opacity: 0.3;
  border: 1px solid #E0892B;
  -webkit-transform: translate(-50%, -50%) matrix(1, -0.07, 0.07, 1, 0, 0);
          transform: translate(-50%, -50%) matrix(1, -0.07, 0.07, 1, 0, 0);
  border-radius: 50%;
}
.plan__wrapper2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 652.43px;
  height: 173.26px;
  opacity: 0.3;
  border: 1px solid #FEE8CF;
  -webkit-transform: translate(-50%, -50%) matrix(1, 0.02, -0.02, 1, 0, 0);
          transform: translate(-50%, -50%) matrix(1, 0.02, -0.02, 1, 0, 0);
  border-radius: 50%;
}
.plan__wrapper3 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  width: 538.46px;
  height: 130.83px;
  opacity: 0.2;
  border: 1px solid #E0892B;
  -webkit-transform: translate(-50%, -50%) matrix(1, 0.03, -0.03, 1, 0, 0);
          transform: translate(-50%, -50%) matrix(1, 0.03, -0.03, 1, 0, 0);
  border-radius: 50%;
}
.plan__item {
  position: relative;
  max-width: 603px;
  z-index: 4;
  font-size: 25px;
  line-height: 1.3;
  color: #FEE8CF;
  text-align: center;
}
.plan__item:before {
  content: "";
  position: absolute;
  top: -70px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  width: 40px;
  height: 52px;
  background: url("../img/plan/lightning.svg") center/100% no-repeat;
}
.plan__item:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  width: 233px;
  height: 3px;
  background: url("../img/plan/line.svg") center no-repeat;
}
.plan__clock {
  position: absolute;
  width: 508px;
  height: 830px;
  left: 0;
  top: -320px;
  z-index: 1;
}
.plan__light {
  top: -210px;
  height: 1272px;
}

/* ===== Mindset block ===== */
.mindset {
  padding: 84px 0 36px 0;
  position: relative;
}
.mindset__notepad-wrapper {
  max-height: 916px;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 40px;
  padding: 0 25px;
}
.mindset__notepad {
  height: 100%;
  background: url("../img/mindset/notepad.png");
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 40px;
  -webkit-transform: translate(0, -32px);
          transform: translate(0, -32px);
  padding: 24px 16px 60px;
}
.mindset__pen {
  position: absolute;
  width: 560px;
  height: 367px;
  right: 0;
  top: -130px;
  z-index: 5;
}

.notepad__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 57px auto 0;
  max-width: 846px;
}
.notepad__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.notepad__item-bgrd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
  height: 150px;
  width: 290px;
  border-radius: 7px;
}
.notepad__item-bgrd:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 4;
  height: 150px;
  width: 290px;
  opacity: 0.5;
  border-radius: 7px;
  -webkit-transform: translate(6px, 7px);
          transform: translate(6px, 7px);
}
.notepad__item-bgrd:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 3;
  height: 150px;
  width: 29 0px;
  opacity: 0.2;
  border-radius: 7px;
  -webkit-transform: translate(11px, 13px);
          transform: translate(11px, 13px);
}
.notepad__item-text {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 56%;
          flex: 1 1 56%;
  font-size: 23px;
  line-height: 1;
  font-weight: 700;
  padding: 18px 0 0 17px;
}
.notepad__item-text:before {
  content: "";
  display: block;
  position: absolute;
  left: 17px;
  bottom: 36px;
  z-index: 5;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.notepad__item-img {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 44%;
          flex: 1 1 44%;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding: 0 0 6px 0;
}
.notepad__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 554px;
          flex: 0 1 554px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.notepad__title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #2E4361;
}
.notepad__text {
  margin: 10px 0 0 0;
  font-size: 25px;
  line-height: 1.15;
}

/* Individual styles for rows */
.row1.notepad__item-bgrd, .row1.notepad__item-bgrd:before, .row1.notepad__item-bgrd:after {
  background: #FFE9F5;
}
.row1.notepad__item-text {
  color: #BC3887;
}
.row1.notepad__item-text:before {
  border: 2px solid #BC3887;
}
.row1.notepad__description {
  padding: 0 0 0 54px;
}

.row2.notepad__item-bgrd, .row2.notepad__item-bgrd:before, .row2.notepad__item-bgrd:after {
  background: #FFF0EC;
}
.row2.notepad__item-text {
  color: #2E4361;
}
.row2.notepad__item-text:before {
  border: 2px solid #E24A1A;
}
.row2.notepad__description {
  padding: 0 45px 0 30px;
  margin: 0 0 0 -45px;
  text-align: right;
}
.row2.notepad__row {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.row3.notepad__item-bgrd, .row3.notepad__item-bgrd:before, .row3.notepad__item-bgrd:after {
  background: #E3EEFF;
}
.row3.notepad__item-text {
  color: #166DFF;
}
.row3.notepad__item-text:before {
  border: 2px solid #166DFF;
}
.row3.notepad__description {
  padding: 0 0 0 54px;
}

.row4.notepad__item-bgrd {
  background: linear-gradient(253.89deg, #4DEC8C 8.44%, #1CB057 94.25%);
}
.row4.notepad__item-bgrd:before, .row4.notepad__item-bgrd:after {
  background: #1CB057;
}
.row4.notepad__item-text {
  color: #FFFFFF;
}
.row4.notepad__item-text:before {
  border: 2px solid #FFFFFF;
}
.row4.notepad__description {
  padding: 0 45px 0 50px;
  margin: 0 0 0 -45px;
  text-align: right;
}
.row4.notepad__row {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  min-height: 215px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EEFFF5;
  border: 1px solid #68D794;
  border-radius: 19px;
}

/* ===== Skill block ===== */
.skill {
  position: relative;
  padding: 36px 0 90px 0;
}
.skill__title {
  margin: 0 auto 0;
  max-width: 852px;
  color: #CEDBF4;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
}
.skill__title span {
  color: #ffffff;
}
.skill__text {
  position: relative;
  width: 517px;
  height: 54px;
  margin: 104px auto 0;
}
.skill__wrapper1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1095.21px;
  height: 175.55px;
  opacity: 0.3;
  border: 1px solid #E0892B;
  -webkit-transform: translate(-50%, -50%) matrix(1, -0.06, 0.01, 1, 0, 0);
          transform: translate(-50%, -50%) matrix(1, -0.06, 0.01, 1, 0, 0);
  border-radius: 50%;
}
.skill__wrapper2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 873.82px;
  height: 161.02px;
  opacity: 0.3;
  border: 1px solid #FEE8CF;
  -webkit-transform: translate(-50%, -50%) matrix(1, -0.04, 0.03, 1, 0, 0);
          transform: translate(-50%, -50%) matrix(1, -0.04, 0.03, 1, 0, 0);
  border-radius: 50%;
}
.skill__wrapper3 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 599.44px;
  height: 121.6px;
  opacity: 0.2;
  border: 1px solid #E0892B;
  -webkit-transform: translate(-50%, -50%) matrix(1, -0.03, 0.02, 1, 0, 0);
          transform: translate(-50%, -50%) matrix(1, -0.03, 0.02, 1, 0, 0);
  border-radius: 50%;
}
.skill__item {
  position: relative;
  max-width: 517px;
  z-index: 4;
  font-size: 25px;
  line-height: 1.3;
  color: #FEE8CF;
  text-align: center;
}
.skill__item:before {
  content: "";
  position: absolute;
  top: -76px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  width: 40px;
  height: 41px;
  background: url("../img/skill/lightning.svg") center/100% no-repeat;
}
.skill__item:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translate(-25%, 0);
          transform: translate(-25%, 0);
  display: block;
  width: 151px;
  height: 5px;
  background: url("../img/skill/line.svg") center/100% no-repeat;
}
.skill__light {
  top: -362px;
  height: 1272px;
}

/* ===== Onmasterkit block ===== */
.onmasterkit {
  position: relative;
  padding: 50px 0 156px 0;
}
.onmasterkit__title {
  font-size: 70px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.onmasterkit__list {
  margin: 34px 0 0 0;
  background-color: #ffffff;
  border-radius: 40px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  max-width: 1156px;
}
.onmasterkit__spiral-left {
  position: absolute;
  width: 587px;
  height: 684px;
  left: 0;
  bottom: 0;
  z-index: 5;
}
.onmasterkit__spiral-right {
  position: absolute;
  width: 304px;
  height: 432px;
  right: 0;
  top: 81px;
  z-index: 5;
}

.list {
  padding: 47px 0 84px;
}
.list__title {
  font-size: 35px;
  line-height: 1.2;
  font-weight: 700;
  color: #2E4361;
  max-width: 621px;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 6px 0;
  border-bottom: 2px solid #E0892B;
}
.list__text {
  padding: 8px 0 0 0;
}
.list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 800px;
  margin: 40px auto 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list__number {
  width: 80px;
  height: 100px;
  position: relative;
  z-index: 7;
}
.list__descr {
  max-width: 550px;
  margin: 0 0 0 27px;
}
.list__descr-title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #2E4361;
}
.list__descr-text {
  font-size: 25px;
  line-height: 1.15;
  color: #929FB7;
  margin: 10px 0 0 0;
}

/* ===== Notebook block ===== */
.notebook {
  position: relative;
  padding: 188px 0 103px 0;
}
.notebook__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
}
.notebook__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 618px;
          flex: 0 1 618px;
  color: #2E4361;
  position: relative;
  z-index: 5;
}
.notebook__title {
  font-size: 35px;
  line-height: 1.2;
  font-weight: 700;
  max-width: 520px;
}
.notebook__title span {
  color: #E0892B;
}
.notebook__list {
  margin: 26px 0 0 0;
  font-size: 25px;
  line-height: 1.2;
}
.notebook__list li {
  position: relative;
  margin: 0 0 10px 0;
  padding: 0 0 0 30px;
}
.notebook__list li:before {
  content: "+";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
  color: #E0892B;
}
.notebook__list li:last-child {
  margin: 0;
}
.notebook__button {
  width: 492.02px;
  height: 70px;
  margin: 46px 0 0 0;
}
.notebook__book {
  position: absolute;
  width: 654px;
  height: 747px;
  left: -38px;
  top: -188px;
  z-index: 4;
}
.notebook__book-item {
  position: absolute;
  width: 131px;
  height: 36.59px;
  left: 409px;
  top: 376px;
  z-index: 3;
  background: #E0892B;
  -webkit-box-shadow: 0.73px 5.85px 18.3px rgba(226, 74, 26, 0.4);
          box-shadow: 0.73px 5.85px 18.3px rgba(226, 74, 26, 0.4);
  border-radius: 7.32px;
  text-align: center;
  color: #ffffff;
  font-size: 17px;
  line-height: 2;
  font-weight: 700;
}
.notebook__bgrd {
  position: absolute;
  z-index: 1;
  background: url("../img/notebook/bg.svg") 0 0/100% 100% no-repeat;
  width: 1149px;
  height: 415px;
  -webkit-transform: translate(0, -75px);
          transform: translate(0, -75px);
}
.notebook__light {
  top: -674px;
  height: 1272px;
}

/* ===== Reviews block ===== */
.reviews {
  position: relative;
  padding: 70px 0 73px 0;
}
.reviews__title {
  max-width: 760px;
  margin: 0 auto 0;
  font-size: 70px;
  line-height: 1;
  font-weight: 700;
  color: #CEDBF4;
  text-align: center;
}
.reviews__title span {
  color: #ffffff;
}
.reviews__row {
  margin: 107px -20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1180px;
  max-height: 1400px;
}
.reviews__item {
  width: 560px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 0 20px 40px;
  padding: 22px;
}
.reviews__more {
  margin: 61px 0 0 0;
  text-align: center;
}
.reviews__more-btn {
  width: 380px;
  height: 70px;
  border: 2px solid #4F5E7A;
  border-radius: 20px;
  background-color: #0D1C31;
  color: #CEDBF4;
  font-size: 23px;
  line-height: 1.3;
  font-weight: 700;
}
.reviews__more-numbers {
  display: none;
  padding: 10px 0 0;
  color: #2E4361;
  font-size: 14px;
}
.reviews__more-numbers span {
  color: #929FB7;
}
.reviews__btn {
  display: none;
  width: 20px;
  height: 5px;
  border-radius: 10px;
  background: #2E4361;
  margin: 0 5px 0 0;
}
.reviews__light {
  top: -94px;
  height: 1272px;
}

.item-reviews__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-reviews__icon {
  width: 110px;
  height: 110px;
}
.item-reviews__descr {
  padding: 0 0 0 18px;
}
.item-reviews__descr-title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #2E4361;
}
.item-reviews__descr-text {
  margin: 4px 0 0 0;
  font-size: 20px;
  line-height: 1.15;
}
.item-reviews__footer {
  margin: -25px;
}
.item-reviews__footer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ===== Author block ===== */
.author {
  position: relative;
  padding: 61px 0 60px 0;
}
.author__title {
  font-size: 70px;
  line-height: 1;
  font-weight: 700;
  color: #E0892B;
  margin: 0 0 0 80px;
}
.author__title span {
  color: #ffffff;
}
.author__subtitle {
  font-size: 30px;
  line-height: 1.2;
  margin: 11px 0 0 80px;
}
.author__descr {
  position: relative;
  z-index: 1;
  margin: 49px 0 0 0;
  background-color: #ffffff;
  border-radius: 70px;
  padding: 50px 80px 56px;
}
.author__descr-text {
  position: relative;
  max-width: 450px;
}
.author__descr-text p {
  font-size: 25px;
  line-height: 1.15;
  color: #2E4361;
  margin: 0 0 26px 0;
}
.author__descr-text p:last-child {
  margin: 0;
}
.author__descr-text p:nth-child(2), .author__descr-text p:nth-child(6) {
  font-size: 20px;
  color: #929FB7;
  margin: -14px 0 26px;
}
.author__descr-text p:nth-child(2):before {
  content: "";
  display: block;
  position: absolute;
  top: 66px;
  left: 460px;
  width: 34px;
  height: 41px;
  background: url("../img/author/oxford.png") center/100% no-repeat;
}
.author__descr-text p span {
  font-weight: 700;
}
.author__descr-books {
  max-width: 450px;
  margin: 19px 0 0 -20px;
}
.author__descr-books img {
  margin: 0 0 0 -40px;
}
.author__photo {
  width: 651px;
  height: 1053px;
  position: absolute;
  z-index: 1;
  right: -34px;
  bottom: -100px;
}
.author__light {
  top: 100px;
  height: 1272px;
}

/* ===== Footer block ===== */
.footer {
  padding: 0 0 63px 0;
}
.footer__row {
  margin: 217px 0 0 0;
  text-align: center;
}
.footer__privacy {
  display: inline-block;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  border-bottom: 1px dashed #505F7E;
  margin: 14px 0 0 0;
}

.formula__header-row.lower {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: -53px 0 0 0;
}

.people.lower {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 543px;
          flex: 0 1 543px;
}

.masterkit__lable.lower {
  margin: 0 auto 0;
  width: 192px;
}

/* ===== Pushup block ===== */
.wrapper-popup {
  background-color: #0D1C31;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
  overflow: auto;
}

@-webkit-keyframes appearence {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearence {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes disappearence {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappearence {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.wrapper-popup.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: appearence 0.5s;
          animation: appearence 0.5s;
}

.wrapper-popup.smooth {
  -webkit-animation: disappearence 0.5s;
          animation: disappearence 0.5s;
}

.pushup {
  position: relative;
  padding: 88px 0 42px 0;
}
.pushup__close {
  position: absolute;
  z-index: 5;
  width: 30px;
  height: 30px;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.pushup__close:before, .pushup__close:after {
  content: "";
  display: block;
  position: absolute;
  top: 14px;
  left: 0;
  width: 30px;
  height: 2px;
  background: #ffffff;
}
.pushup__close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.pushup__close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.pushup__wrapper {
  margin: 0 0 0 100px;
  position: relative;
}
.pushup__title {
  font-size: 90px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.pushup__text {
  margin: 39px 0 0 0;
  font-size: 25px;
  line-height: 1.2;
}
.pushup__text p {
  margin: 0 0 5px 0;
}
.pushup__text p:nth-of-type(2) {
  color: #ffffff;
  font-weight: 700;
}
.pushup__text p:nth-of-type(3) {
  color: #ffffff;
}
.pushup__text p:nth-of-type(4) {
  color: #ffffff;
}
.pushup__text div {
  width: 373px;
  height: 75px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  border: 2px solid #FFC700;
  border-radius: 15px;
  padding: 22px 0 0 0;
  margin: 35px 0 31px 0;
}
.pushup__email {
  color: #FFC700;
  font-weight: 700;
}
.pushup__btn {
  margin: 50px 0 0 0;
  width: 534px;
  height: 70px;
}
.pushup__btn img {
  margin: 0 8px 0 0;
}
.pushup__footer {
  margin: 110px 0 0 0;
}
.pushup__pointer {
  position: absolute;
  z-index: 2;
  width: 156px;
  height: 74px;
  bottom: 116px;
  left: 621px;
}
.pushup__light {
  top: -188px;
  height: 900px;
}
.pushup__spiral {
  position: absolute;
  width: 488px;
  height: 654px;
  right: 0;
  bottom: 190px;
  z-index: 1;
}

.form__subtitle.push {
  margin: 73px 0 0 0;
  width: 100%;
}
.form__subtitle-text.push {
  color: #CEDBF4;
  font-size: 25px;
  line-height: 1.2;
  padding: 0 20px 0 20px;
  max-width: 950px;
}
.form__subtitle-text.push span {
  color: #ffffff;
  font-weight: 700;
}

@media (max-width: 1340px) {
  .formula__spiral, .invitation__spiral,
.onmasterkit__spiral-right,
.onmasterkit__spiral-left {
    display: none;
  }
}
@media (max-width: 1200px) {
  .pushup__spiral {
    display: none;
  }

  .author__photo {
    left: 50%;
    bottom: 280px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .author__descr {
    margin: 490px auto 0;
    z-index: 2;
    max-width: 750px;
  }
  .author__descr-books {
    max-width: 450px;
    margin: 19px auto -20px;
  }
  .author__descr-text {
    max-width: 450px;
    margin: 0 auto 0;
  }

  .notebook__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .notebook__bgrd {
    width: 750px;
    height: 1081px;
    background: url("../img/notebook/bg-mobile.png") 0 0/100% 100% no-repeat;
    border-radius: 40px;
  }
  .notebook__column {
    height: 520px;
    padding: 0 0 0 30px;
  }

  .onmasterkit__list {
    margin: 34px auto 0;
    max-width: 950px;
  }

  .plan__clock {
    width: 340px;
    height: 554px;
  }
  .plan__clock img {
    width: 100%;
    height: 100%;
  }

  .mindset__pen {
    width: 280px;
    height: 183.5px;
    top: -40px;
  }
  .mindset__pen img {
    width: 100%;
    height: 100%;
  }

  .reviews__row {
    margin: 107px auto 0;
    max-width: 992px;
    max-height: 1300px;
  }
  .reviews__item {
    width: 446px;
  }
}
@media (max-width: 992px) {
  .formula {
    padding: 52px 0 10px 0;
  }
  .formula__main {
    line-height: 0.9;
    font-size: 75px;
  }
  .formula__main-titlethird:after {
    width: 47.4px;
    height: 47.4px;
    top: -1.5px;
    left: 702.5px;
  }
  .formula__main-text:before {
    left: 80px;
  }
  .formula__main-titletext {
    font-size: 25px;
  }
  .formula__main-text {
    font-size: 25px;
    width: 380px;
    height: 40px;
  }
  .formula__header-column.date {
    display: block;
    position: absolute;
    top: 100px;
    left: 30px;
  }

  .invitation__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .invitation__column-left {
    width: 100%;
    height: 430px;
  }
  .invitation__pointer {
    display: none;
  }
  .invitation__book {
    position: static;
    margin: 0 auto;
    width: 737.8px;
    height: 597.1px;
  }
  .invitation__book img {
    width: 100%;
    height: 100%;
  }

  .sutable__title, .plan__title,
.onmasterkit__title, .reviews__title,
.author__title {
    font-size: 48px;
  }

  .pushup__title {
    font-size: 61px;
  }

  .skill__title, .invitation__title {
    font-size: 34px;
  }

  .plan__text {
    width: 603px;
    height: 96px;
    position: relative;
    margin: 90px auto 0;
  }

  .mindset__notepad-wrapper {
    background: rgba(255, 255, 255, 0);
    max-height: 100%;
  }
  .mindset__notepad {
    padding: 24px 110px 60px 26px;
  }

  .notepad__description.row1, .notepad__description.row2, .notepad__description.row3, .notepad__description.row4 {
    margin: 20px 0 0 0;
    text-align: left;
    padding: 0;
  }
  .notepad__row.row4 {
    padding: 26px 16px;
    margin: 57px -100px 0 -16px;
  }

  .list__text {
    padding: 8px 0 0 20px;
  }

  /* .reviews__column {flex: 0 1 70%;} */
  .reviews__row {
    margin: 107px auto 0;
    max-width: 586px;
    max-height: 2500px;
  }
  .reviews__item {
    width: 546px;
  }

  .author__descr {
    margin: 520px auto 0;
  }

  .formula__header-row.lower {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .pushup__pointer {
    display: none;
  }
}
@media (max-width: 768px) {
  .sutable__title, .plan__title,
.onmasterkit__title, .reviews__title,
.author__title {
    font-size: 30px;
    text-align: center;
  }

  .pushup__title {
    font-size: 40px;
  }

  .skill__title, .invitation__title {
    font-size: 21px;
  }

  .auto, .shstrap, .people {
    display: none;
  }

  .shstrap.lower, .people.lower {
    display: block;
  }

  .formula {
    padding: 24px 0 5px 0;
  }
  .formula__header-column.date {
    display: none;
  }
  .formula__header-column.masterkit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .formula__header-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .formula__main-titletext {
    display: none;
  }
  .formula__main-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .formula__main-titlefirst, .formula__main-titlesecond, .formula__main-titlethird {
    font-size: 40px;
    text-align: center;
    padding: 0;
    width: 260px;
    margin: 0 auto 0;
  }
  .formula__main {
    margin: 19px 0 0 0;
  }
  .formula__main-titlethird:after {
    width: 27px;
    height: 27px;
    top: -1.5px;
    left: 327px;
  }
  .formula__main-titlesecond:after {
    margin: 0;
    width: 8px;
    height: 8px;
    border: 1px solid #E0892B;
    top: -100%;
  }
  .formula__main-text:before {
    width: 16px;
    height: 16px;
    border: 2px solid #E0892B;
    top: -45px;
    left: 0;
    margin: 0;
  }
  .formula__main-date {
    display: block;
  }
  .formula__main-text {
    font-size: 18px;
    width: 264px;
    height: 29px;
    margin: 35px auto 0;
  }
  .formula__reasons-column {
    font-size: 18px;
    line-height: 1.15;
  }
  .formula__reasons {
    margin: 35px 0 0 0;
  }

  .masterkit__text {
    margin: 29px 0 0 0;
    font-size: 10px;
    padding: 6px 7px;
  }

  .invitation {
    padding: 24px 0 30px;
  }
  .invitation__column-left {
    height: 150px;
  }
  .invitation__book {
    margin: 0 auto;
    width: 306px;
    height: 230px;
  }
  .invitation__column-right {
    padding: 10px;
    border-radius: 19.4px;
    max-width: 363px;
  }

  .form {
    border-radius: 19.4px;
    padding: 21px 13px;
  }
  .form form:before {
    border-radius: 19.4px;
  }
  .form__title {
    font-size: 21px;
  }
  .form__subtitle {
    max-width: 200px;
  }
  .form__subtitle-text {
    font-size: 10px;
  }
  .form__subtitle-icon {
    width: 22.3px;
    height: 22.3px;
  }
  .form__subtitle-icon img {
    width: 22.3px;
    height: 22.3px;
  }
  .form__text {
    font-size: 12px;
    margin: 13px 0 0 0;
  }
  .form__error {
    font-size: 12px;
    margin: 5px 0 0;
  }
  .form input {
    width: 180px;
    height: 30px;
    padding: 6px 9px 8px;
    font-size: 12px;
    margin: 12px 0 0 0;
    border-radius: 4.9px;
  }
  .form__btn {
    margin: 10px 0 0 0;
    width: 185px;
    height: 35px;
  }
  .form__btn button {
    border-radius: 10px;
    font-size: 12px;
  }
  .form__personal-inf {
    font-size: 10px;
  }
  .form__personal-inf span {
    padding: 0 0 5px 16.5px;
    border-width: 0 0 1px 0;
    border-style: dashed;
  }
  .form__personal-inf:before {
    width: 12.12px;
    height: 12.12px;
    border-radius: 3px;
    border: 1px solid #CEDBF4;
  }
  .form__personal-text:before {
    width: 12.12px;
    height: 12.12px;
    background: url("../img/invitation/check-icon-mobile.svg") center no-repeat;
  }

  .sutable {
    padding: 30px 0 8px;
  }
  .sutable__item-text {
    font-size: 18px;
    padding: 0 10px;
  }
  .sutable__item-icon {
    width: 83px;
    height: 83px;
  }
  .sutable__row {
    margin: 70px 0 0 0;
  }

  .plan {
    padding: 110px 0 30px;
  }
  .plan__clock {
    width: 160px;
    height: 235px;
    top: -70px;
  }
  .plan__subtitle {
    font-size: 18px;
    text-align: center;
    margin: 15px 0 0 0;
  }
  .plan__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .plan__item {
    font-size: 14px;
    width: 293px;
    height: 54px;
    margin: 0 auto;
  }
  .plan__item:before {
    width: 18px;
    height: 23.5px;
    top: -32px;
  }
  .plan__item:after {
    display: none;
  }
  .plan__text {
    width: 293px;
    height: 54px;
  }
  .plan__wrapper1 {
    width: 320.72px;
    height: 85.18px;
  }
  .plan__wrapper2 {
    width: 293.5px;
    height: 77.94px;
  }
  .plan__wrapper3 {
    width: 242.23px;
    height: 58.86px;
  }

  .mindset__pen {
    width: 165px;
    height: 157px;
    top: -20px;
  }

  .notepad__item-text {
    font-size: 17.5px;
  }
  .notepad__item-text:before {
    width: 9px;
    height: 9px;
  }
  .notepad__title {
    font-size: 21px;
  }
  .notepad__text {
    font-size: 18px;
  }

  .skill {
    padding: 36px 0 50px 0;
  }
  .skill__title {
    padding: 0 25px 0;
  }
  .skill__item {
    font-size: 14px;
    width: 274.76px;
    height: 34.01px;
  }
  .skill__item:before {
    width: 21.26px;
    height: 27.63px;
    top: -42px;
  }
  .skill__item:after {
    width: 83px;
    height: 2px;
  }
  .skill__text {
    width: 274.76px;
    height: 34.01px;
    margin: 64px auto 0;
  }
  .skill__wrapper1 {
    width: 348.06px;
    height: 93.29px;
  }
  .skill__wrapper2 {
    width: 277.33px;
    height: 85.55px;
  }
  .skill__wrapper3 {
    width: 190.04px;
    height: 64.62px;
  }

  .list {
    padding: 26px 0 56px;
  }
  .list__row {
    max-width: 500px;
  }
  .list__descr {
    max-width: 400px;
  }
  .list__title {
    font-size: 20px;
    max-width: 300px;
  }
  .list__descr-title {
    font-size: 21px;
  }
  .list__descr-text {
    font-size: 18px;
  }
  .list__number {
    width: 32px;
    height: 40px;
  }
  .list__number img {
    width: 32px;
  }

  .notebook__row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .notebook__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 185px;
            flex: 1 1 185px;
    height: 230px;
    padding: 0 0 0 30px;
    margin: 0 auto;
  }
  .notebook__bgrd {
    width: 560px;
    height: 581px;
  }
  .notebook__book {
    width: 378px;
    height: 431.75px;
    top: -265px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .notebook__book img {
    width: 100%;
    height: 100%;
  }
  .notebook__book-item {
    width: 81px;
    height: 23px;
    left: 230px;
    top: 210px;
    font-size: 12px;
    line-height: 1.8;
  }
  .notebook__title {
    font-size: 21px;
    max-width: 300px;
  }
  .notebook__list {
    font-size: 18px;
    margin: 17px 0 0 0;
  }
  .notebook__list li:not(:last-child) {
    margin: 0 0 7px 0;
  }
  .notebook__button {
    width: 193px;
    height: 35px;
    font-size: 12px;
    border-radius: 10.8126px;
    margin: 44px 0;
  }
  .notebook__button span {
    display: none;
  }

  .reviews__wrapper {
    overflow: hidden;
    margin: 67px auto 0;
    width: 556px;
    height: 510px;
  }
  .reviews__row {
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .reviews__item {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 556px;
    height: 510px;
    margin: 0;
  }
  .reviews__more-btn {
    display: none;
  }
  .reviews__more {
    margin: 23px 0 0;
  }
  .reviews__more-numbers {
    display: block;
  }
  .reviews__btn {
    display: inline-block;
  }

  .item-reviews__icon {
    width: 76.8px;
    height: 83.2px;
  }
  .item-reviews__icon img {
    width: 100%;
  }
  .item-reviews__descr-title {
    font-size: 26px;
  }
  .item-reviews__descr-text {
    font-size: 18px;
  }

  .author {
    padding: 0 0 60px;
  }
  .author__title {
    margin: 0;
  }
  .author__subtitle {
    margin: 5px 0 0;
    text-align: center;
    font-size: 18px;
  }
  .author__photo {
    width: 253px;
    top: 90px;
  }
  .author__photo img {
    width: 100%;
  }
  .author__descr {
    margin: 220px auto 0;
    max-width: 450px;
    padding: 32px 17px 47px 11px;
    border-radius: 20px;
  }
  .author__descr-text p {
    font-size: 18px;
  }
  .author__descr-text p:last-child {
    margin: 0;
  }
  .author__descr-text p:nth-child(2), .author__descr-text p:nth-child(6) {
    font-size: 14px;
  }
  .author__descr-text p:nth-child(2) {
    padding: 0 0 0 27px;
  }
  .author__descr-text p:nth-child(2):before {
    top: 56px;
    left: 0;
    width: 20.23px;
    height: 24.39px;
  }

  .invitation__title {
    max-width: 500px;
    margin: 0 auto;
  }

  .formula__header-row.lower {
    margin: 0;
  }
  .formula__header-column.people.lower {
    font-size: 14px;
    max-width: 260px;
  }
  .formula__header-column.shstrap.lower {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33px;
            flex: 0 1 33px;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .formula__header-column.shstrap.lower img {
    width: 21px;
  }

  .footer {
    padding: 0 0 61px 0;
  }
  .footer__row {
    margin: 90px 0 0;
  }
  .footer__privacy {
    font-size: 14px;
  }

  .masterkit__lable.lower {
    width: 125px;
  }

  .pushup {
    padding: 45px 0 0;
  }
  .pushup__title img {
    width: 40px;
  }
  .pushup__text {
    margin: 35px 0 0 0;
    font-size: 18px;
  }
  .pushup__text div {
    font-size: 20px;
    width: 255.81px;
    height: 51.44px;
    border: 1.37px solid #FFC700;
    border-radius: 10.28px;
    padding: 12px 0 0 0;
    margin: 25px 0 24px 0;
  }
  .pushup__btn {
    width: 280px;
    height: 56px;
    border-radius: 10.8614px;
  }
  .pushup__btn button {
    font-size: 12px;
    padding: 0 40px;
    text-align: left;
  }
  .pushup__btn button img {
    float: left;
  }
  .pushup__footer {
    margin: 65px 0 35px 0;
    width: 104px;
  }

  .form__subtitle.push {
    max-width: 600px;
    margin: 49px 0 0 0;
  }
  .form__subtitle-text.push {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .formula__reasons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formula__reasons-column {
    margin: 0 0 23px 0;
    min-height: 23px;
  }

  .sutable__item-text {
    max-width: 350px;
  }

  .sutable__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sutable__row div:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .sutable__row div:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .sutable__row div:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .sutable__row div:nth-child(4) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .sutable__row div:nth-child(5) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .sutable__column {
    position: relative;
  }

  .sutable__column + .sutable__column:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: -25px;
    width: 25px;
    height: 2px;
    background-color: #E0892B;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .plan__clock {
    left: -45px;
  }

  .notepad__row {
    margin: 34px 0 0 0;
  }
  .notepad__row.row4 {
    margin: 34px -10px 0 -16px;
  }
  .notepad__item-bgrd {
    width: 217.06px;
    height: 112.27px;
    border-radius: 5.32558px;
  }
  .notepad__item-bgrd:before {
    width: 217.06px;
    height: 112.27px;
    border-radius: 5.32558px;
    -webkit-transform: translate(5.33px, 4.54px);
            transform: translate(5.33px, 4.54px);
  }
  .notepad__item-bgrd:after {
    width: 217.06px;
    height: 112.27px;
    border-radius: 5.32558px;
    -webkit-transform: translate(9.89px, 8.37px);
            transform: translate(9.89px, 8.37px);
  }
  .notepad__item-img {
    max-width: 80px;
  }
  .notepad__item-img img {
    width: 100%;
  }
  .notepad__item-text:before {
    left: 13px;
    bottom: 18px;
  }
  .notepad__description.row1, .notepad__description.row2, .notepad__description.row3, .notepad__description.row4 {
    margin: 14px 0 0 0;
  }

  .mindset__notepad {
    padding: 13px 10px 53px 16px;
  }

  .mindset__notepad-wrapper {
    padding: 0;
  }

  .list {
    max-width: 300px;
  }
  .list__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 280px;
    margin: 25px auto 0;
  }
  .list__text {
    padding: 0;
  }
  .list__descr {
    margin: 7px 0 0 0;
    text-align: center;
  }
  .list__descr-text {
    margin: 7px 0 0 0;
  }
  .list__title {
    position: relative;
    border-bottom: none;
  }
  .list__title:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 126px;
    height: 2px;
    background-color: #E0892B;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .notebook {
    padding: 188px 0 30px;
  }
  .notebook__bgrd {
    width: 300px;
    height: 581px;
    border-radius: 20px;
  }
  .notebook__title {
    max-width: 280px;
  }
  .notebook__list li {
    padding: 0 0 0 20px;
  }
  .notebook__column {
    padding: 0;
  }
  .notebook__button {
    display: block;
    margin: 20px auto 0;
  }

  .reviews__wrapper {
    margin: 36px auto 0;
    width: 300px;
    height: 280px;
  }
  .reviews__item {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 300px;
    height: 280px;
    margin: 0;
    padding: 21px 20px;
  }

  .item-reviews__icon {
    width: 59px;
    height: 59px;
  }
  .item-reviews__icon img {
    width: 100%;
  }
  .item-reviews__descr-title {
    font-size: 16px;
  }
  .item-reviews__descr-text {
    font-size: 12px;
  }
  .item-reviews__footer {
    margin: -10px -15px -15px;
  }

  .author__descr {
    margin: 220px auto 0;
    max-width: 450px;
  }

  .author__descr-books {
    max-width: 300px;
    margin: 19px 0 0 -20px;
  }
  .author__descr-books img {
    width: 94px;
    margin: 0 0 0 -25px;
  }

  .pushup__wrapper {
    margin: 0 auto;
    max-width: 295px;
  }
  .pushup__btn {
    margin: 50px auto 0;
  }
  .pushup__footer {
    margin: 65px auto 35px;
  }
}
@media (max-width: 430px) {
  .pushup__close {
    top: 10px;
    right: 10px;
  }
}