@import "nullstyle";
//@import "fonts";
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");

// === MIXINS ===
@mixin roboto {
  font-family: "Roboto", sans-serif;
}

@mixin philosopher {
  font-family: "Philosopher", sans-serif;
}
// === / MIXINS ===

// ===  FUNCTIONS ===
@function strip-unit($num) {
  $oneUnit: $num * 0 + 1;
  @return calc($num / $oneUnit);
}
@function rem($num) {
  @return (calc(strip-unit($num) / 16)) * 1rem;
}
// === / FUNCTIONS ===

// === VARIABLES ===
$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

$base: rem(4px);

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fz-xxs: rem(13px);
$fz-xs: rem(15px);
$fz-s: rem(18px);
$fz-m: rem(23px);
$fz-l: rem(35px);
$fz-xl: rem(40px);
$fz-xxl: rem(51px);

$transition: 0.2s;

// Primary
$color-primary-100: #f5f5f5;
$color-primary-100: #efefef;
$color-primary-100: #eaeaea;
$color-primary-200: #a5a5a5;
$color-primary-200: #8f8f8f;
$color-primary-200: #8a8a8a;
$color-primary-200: #646464;
$color-primary-400: #55565b;
$color-primary-400: #363434;
$color-primary-500: #202020;
$color-primary-400: #0b0b0b;

// Secondary
$color-primary-50: #9bcfff;
$color-secondary-100: #fde724;
$color-secondary-200: #ffc700;
$color-secondary-300: #ffb800;
$color-secondary-400: #ff9900;
$color-secondary-500: #6a5300;

// Error
$color-error: #ff5c00;

// Main-text
$color-main-text-2th: #7d808a;
$color-main-text: #7e7e7e;

// Colors
$color-green: #008139;
$color-white: #fff;
$color-black: #000;

// === / VARIABLES ===

// === COMMON ===
body {
  @include roboto;
  font-size: $fz-xs;
  color: #7e7e7e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include philosopher;
  color: #363434;
  text-align: center;
}
h1 {
  position: relative;
  margin: $base * 10 0 $base * 10 $base * 11;
  font-size: $fz-m;
  text-align: left;
  span {
    font-weight: $fw-bold;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: $base * 6;
    height: 1px;
    left: -$base * 11;
    top: $fz-m / 2;
    background: #7e7e7e;
  }
}
h2 {
  font-size: $fz-l;
  font-weight: $fw-regular;
  color: #363434;
  margin-bottom: $base * 17;
}
h3 {
  font-size: $fz-l;
  font-weight: $fw-regular;
  margin-bottom: $base * 6;
}
h4 {
  font-size: $fz-xxl;
  font-weight: $fw-bold;
  color: $color-black;
  margin-top: $base * 22;
  text-align: left;
}
.subtitle {
  font-weight: $fw-light;
  text-align: center;
  margin-bottom: $base * 17;
}

.section-outer {
}

.section-inner {
  margin: 0 auto;
  padding: 0 $base * 2;
  max-width: 1188px;
}

.button {
  position: relative;
  color: $color-secondary-500;
  font-size: $fz-xs;
  font-weight: $fw-medium;
  text-transform: uppercase;
  letter-spacing: 0.07rem;
  text-align: center;
  border-radius: $base;
  background: radial-gradient(
      ellipse at 50% -50%,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 65%,
      rgba(255, 255, 255, 0) 59%
    ),
    linear-gradient(#fff383, #ffc700);
  box-shadow: 0 $base 0 0 #c89c00, 0 $base * 4 $base * 8 0 #ffc7006b;

  &:hover {
    background: radial-gradient(
        ellipse at 50% -50%,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 65%,
        rgba(255, 255, 255, 0) 59%
      ),
      linear-gradient(#ffe456, #ffb800);
  }
  &:active {
    background: radial-gradient(
        ellipse at 50% 150%,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 65%,
        rgba(255, 255, 255, 0) 59%
      ),
      linear-gradient(#ffe456, #ffb800);
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &_s {
    width: $base * 68;
    height: $base * 18;
  }
  &_l {
    width: $base * 83;
    height: $base * 18;
  }
}
// === / COMMON ===

// === NAVIGATION ===
.navigation {
  display: flex;

  &_header {
    color: #202020;
    text-transform: uppercase;
  }
  &_footer {
    color: #eaeaea;
    font-size: $fz-xs;
  }
  &__btn {
    position: relative;
    margin-right: $base * 10;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -$base * 3;
      left: 0;
      background: #008139;
      opacity: 0;
      transition: $transition;
    }

    &:hover,
    &:active {
      &:after {
        opacity: 1;
      }
    }
  }
}
// === / NAVIGATION ===

// === HEADER ===
.section-header {
  position: relative;
  padding: $base * 3 0 $base * 112;

  .section-inner {
    position: relative;
    z-index: 5;
  }
}
.header {
  display: flex;

  &-bg {
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__logo {
    flex-grow: 1;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__contact {
    display: flex;
    align-items: flex-end;

    &-icon {
      align-self: flex-start;
      padding-top: $base * 2;
    }

    &-number-section {
      margin-left: $base * 2;
    }

    &-number {
      color: #202020;
      font-size: $fz-m;
      font-weight: $fw-bold;
    }

    &-mode {
      color: #7d808a;
      font-size: $fz-xxs;
      margin-top: $base * 2;
    }
  }
}
// === / HEADER ===

// === ABOUT ===
// === / ABOUT ===

// === WHY-WE ===
// === / WHY-WE ===

// === AREAS ===
// === / AREAS ===

// === VISITORS ===
// === / VISITORS ===

// === HORSES ===
// === / HORSES ===

// === QUESTIONS ===
// === / QUESTIONS ===

// === REWIEWS ===
// === / REWIEWS ===

// === CONTACTS ===
// === / CONTACTS ===

// === FOOTER ===
.section-footer {
  background: #0b0b0b;
  padding-bottom: $base * 6;
}
.footer {
  display: flex;
  padding: $base * 3 0 $base * 7;

  &__logo {
    flex-grow: 1;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__button {
    display: block;
    width: $base * 50;
    height: $base * 11;
    border: 1px solid #fde724;
    border-radius: $base;
    padding-top: $base * 3;

    color: #f5f5f5;
    text-align: center;
  }
}

.confidentiality {
  text-decoration: underline;
  color: #7d808a;

  &__personal {
    margin-right: $base * 10;
  }

  &__policy {
  }
}
// === / FOOTER ===
